.clr-mono1 {
    color: #E5E5E5;
}

.clr-mono2 {
    color: #595959;
}

.clr-mono3 {
    color: #0C0C0C;
}

.clr-purple1 {
    color: #A08DD6;
}

.clr-purple2 {
    color: #735BC2;
}

.clr-purple3 {
    color: #5533B8;
}

.clr-red1 {
    color: #DF9F98;
}

.clr-red2 {
    color: #C2462F;
}

.clr-red3 {
    color: #B73B22;
}

.clr-green1 {
    color: #AFDE99;
}

.clr-green2 {
    color: #8AC22F;
}

.clr-green3 {
    color: #4AA932;
}

.clr-blue1 {
    color: #A5C0D1;
}

.clr-blue2 {
    color: #4187C3;
}

.clr-blue3 {
    color: #2F6F97;
}

.bclr-mono1 {
    background-color: #E5E5E5;
}

.bclr-mono2 {
    background-color: #595959;
}

.bclr-mono3 {
    background-color: #0C0C0C;
}

.bclr-purple1 {
    background-color: #A08DD6;
}

.bclr-purple2 {
    background-color: #735BC2;
}

.bclr-purple3 {
    background-color: #5533B8;
}

.bclr-red1 {
    background-color: #DF9F98;
}

.bclr-red2 {
    background-color: #C2462F;
}

.bclr-red3 {
    background-color: #B73B22;
}

.bclr-green1 {
    background-color: #AFDE99;
}

.bclr-green2 {
    background-color: #8AC22F;
}

.bclr-green3 {
    background-color: #4AA932;
}

.bclr-blue1 {
    background-color: #A5C0D1;
}

.bclr-blue2 {
    background-color: #4187C3;
}

.bclr-blue3 {
    background-color: #2F6F97;
}