@import '/assets/css/vars';

.clr-mono1 {
    color: $mono1;
}

.clr-mono2 {
    color: $mono2;
}

.clr-mono3 {
    color: $mono3;
}

.clr-purple1 {
    color: $purple1;
}

.clr-purple2 {
    color: $purple2;
}

.clr-purple3 {
    color: $purple3;
}

.clr-red1 {
    color: $red1;
}

.clr-red2 {
    color: $red2;
}

.clr-red3 {
    color: $red3;
}

.clr-green1 {
    color: $green1;
}

.clr-green2 {
    color: $green2;
}

.clr-green3 {
    color: $green3;
}

.clr-blue1 {
    color: $blue1;
}

.clr-blue2 {
    color: $blue2;
}

.clr-blue3 {
    color: $blue3;
}

.bclr-mono1 {
    background-color: $mono1;
}

.bclr-mono2 {
    background-color: $mono2;
}

.bclr-mono3 {
    background-color: $mono3;
}

.bclr-purple1 {
    background-color: $purple1;
}

.bclr-purple2 {
    background-color: $purple2;
}

.bclr-purple3 {
    background-color: $purple3;
}

.bclr-red1 {
    background-color: $red1;
}

.bclr-red2 {
    background-color: $red2;
}

.bclr-red3 {
    background-color: $red3;
}

.bclr-green1 {
    background-color: $green1;
}

.bclr-green2 {
    background-color: $green2;
}

.bclr-green3 {
    background-color: $green3;
}

.bclr-blue1 {
    background-color: $blue1;
}

.bclr-blue2 {
    background-color: $blue2;
}

.bclr-blue3 {
    background-color: $blue3;
}

.glit {
    position: absolute;
    filter  : blur(4px);
}

.glit-mono1 {
    text-shadow: 0px 0px 35px $mono1;
}

.glit-blue1 {
    text-shadow: 0px 0px 35px $blue1;
}

.glit-blue2 {
    text-shadow: 0px 0px 35px $blue2;
}

.glit-blue3 {
    text-shadow: 0px 0px 35px $blue3;
}

.glit-red1 {
    text-shadow: 0px 0px 35px $red1;
}

.glit-red2 {
    text-shadow: 0px 0px 35px $red2;
}

.glit-green1 {
    text-shadow: 0px 0px 35px $green1;
}

.glit-green2 {
    text-shadow: 0px 0px 35px $green2;
}

.glit-purple1 {
    text-shadow: 0px 0px 35px $purple1;
}

.glit-purple2 {
    text-shadow: 0px 0px 35px $purple2;
}