@import '/assets/css/vars';

.prg1 {
    margin-bottom: $margin; //60px
}

.prg2 {
    margin-bottom: $margin/2; //30px
}

.prg3 {
    margin-bottom: $margin/3; //20px
}

.prg4 {
    margin-bottom: $margin/4; //15px
}

.prg {
    padding   : 0 10px;
    text-align: left;
}

.star-list {
    list-style  : none;
    padding-left: 0;
}

.star-list li {
    position    : relative;
    padding-left: 40px;
}

.star-list li:before {
    content            : '';
    width              : 15px;
    height             : 15px;
    position           : absolute;
    background-size    : cover;
    background-position: center;
    left               : 15px;
    top                : 50%;
    transform          : translateY(-50%);
}

.green-star li::before {
    background-image: url('../../static/svg/star-green.svg');
}

.blue-star li::before {
    background-image: url('../../static/svg/star-blue.svg');
}

